REACT_EDITOR=cursor

GRAPHQL_URI=https://hypha.us-east-1.aws.cloud.dgraph.io/graphql
HYPHA_AUTH_URL=https://y3b2ihsdv7.execute-api.us-east-1.amazonaws.com
CHAIN_NAME=telos

RPC_URL=https://mainnet.base.org
DAO_SPACE_FACTORY_ADDRESS=0xff6006c67803a380Db25230F1aEc605790C405a1
