REACT_EDITOR=cursor

GRAPHQL_URI=https://hypha.us-east-1.aws.cloud.dgraph.io/graphql
HYPHA_AUTH_URL=https://y3b2ihsdv7.execute-api.us-east-1.amazonaws.com
CHAIN_NAME=telos

RPC_URL=https://mainnet.base.org
DAO_SPACE_FACTORY_ADDRESS=0xff6006c67803a380Db25230F1aEc605790C405a1

# Parameters for Vercel Postgres Templates
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_URL_NO_SSL=
POSTGRES_PRISMA_URL=
