@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    .radix-themes {
      --default-font-family: var(--font-body);
      --heading-font-: var(--font-heading);
      --color-background: var(--indigo-2);
      --color-panel: var(--indigo-1);
    }
  }
  body {
    @apply font-body;

  }
}
