@import '../colors/amber.css';

:root, .light, .light-theme, .dark, .dark-theme {
  --warning-1: var(--amber-1);
  --warning-2: var(--amber-2);
  --warning-3: var(--amber-3);
  --warning-4: var(--amber-4);
  --warning-5: var(--amber-5);
  --warning-6: var(--amber-6);
  --warning-7: var(--amber-7);
  --warning-8: var(--amber-8);
  --warning-9: var(--amber-9);
  --warning-10: var(--amber-10);
  --warning-11: var(--amber-11);
  --warning-12: var(--amber-12);

  --warning: var(--warning-1);
}
